<div class="card-header d-flex justify-content-between">
  <span>List</span>
  <%= link_to 'New List', new_list_path, class: 'btn btn-sm' %>
</div>

<ul class="list-group">
  <% @lists.each do |list| %>
    <li class="list-group-item">
      <%= link_to list.title, list %>
    </li>
  <% end %>
</ul>