<div class="card-header d-flex justify-content-between">
  <span><%= @list.title %></span>
  <%= link_to 'Edit', edit_list_path(@list), class: 'btn btn-secondary btn-sm' %>
</div>

<ul class="list-group">
  <% @list.items.each do |item| %>
    <li class="list-group-item">
      <%= item.description %>
    </li>
  <% end %>
</ul>