body {
  background-color: #86868a;
}

.card-body {
  background-color: #f8ad01;
  border-top-style: solid;
}

.list-group-item {
  background-color: #1153ab;
  opacity: 0.90;
  color: #fff;
  border-color: #000;
  font-weight: bold;
}

.btn-yes {
  background-color: #fff;
  border-color: #000;
}

.btn-no {
  background-color: #1153ab;
  border-color: #000;
  color: #fff;
}

.card-header {
  background-color: #fff;
  color: #000;
}

.progress-bar {
  background-color: #1153ab;
}


.btn-add {
  background-color: #1153ab;
  border-color: #000;
  color: #fff;
  font-weight: bold;
}

.badge-progress {
  background-color: #f8ad01;
  color: #fff;
}

.badge-yes {
  background-color: #1153ab;
  color: #fff;
}

.badge-no {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

.bg-no {
  background-color: #fff;
}

.form-color {
  background-color: #f8ad01;
  text-align: center;
}