body {
  background-color: #000;
  color: #a21b0d;
}

.card {
  background-color: #000;
}

.list-group-item {
  background-color: #a21b0d;
  color: #000;
  border-color: #fff;
}

.btn {
  background-color: #a21b0d;
  border-color: #fff;
}