body {
  background-color: #000;
  color: #a21b0d;
}

.card {
  background-color: #000;
}

.list-group-item {
  background-color: #a21b0d;
  opacity: 0.90;
  color: #000;
  border-color: #fff;
}

.btn-yes {
  background-color: #fff;
  border-color: #000;
}

.btn-no {
  background-color: #000;
  border-color: #fff;
  color: #fff;
}

.card-header {
  background-color: #fff;
  opacity: 0.75;
  color: #000;
}

.progress-bar {
  background-color: #a21b0d;
}

.bg-no {
  background-color: #fff;
}

.btn-add {
  background-color: #a21b0d;
  border-color: #fff;
}